* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  color: black;
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
}

.card {
  background: #39404b;
  color: white;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 1);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  min-height: 100%;
  text-align: center;
  letter-spacing: 1.5px;
  padding: 2rem;
}

.show-name-div {
  display: flex;
  flex-wrap: wrap;
  align-items: auto;
  background: white;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, .25);  
  border: .1rem solid black;
  border-radius: .3rem;
  padding: 1.5rem;
}

.show-name-div h1 {
  width: 100%;
  font-size: 1.5rem;
}

.show-name-div img {
  width: 25%;
  padding: .5rem;
   
}

.summary-div {
  width: 55%;
  padding: .5rem;
}

.show-info-div {
  width: 20%;
  height: 100%;
  border: .01rem solid black;
   
}

p {
  text-align: left;
  font-weight: 500;
  opacity: 0.8;
}

select {
  width: 20rem;
  border: 0.2rem solid darkgray;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.2rem;
}

input {
  width: 20rem;
  border: 0.2rem solid darkgray;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.2rem;
}

li {
  list-style: none;
}



footer {
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
  opacity: 0.8;
  letter-spacing: 1.5px;
  padding: 3rem;
}

/* Media Query Number 1 */
/* @media (min-width: 500px) {
  #root {
    grid-template-columns: 1fr;
    width: auto;
  }
} */

/* Media Query Number 2 */
/* @media (min-width: 850px) {
  #root {
    grid-template-columns: 1fr;
    width: auto;
  }
} */